export DATABASE_ROOT_URL=postgres://postgres:hackme@localhost:54322
export PGDATABASE=yikes_development
export DATABASE_URL=${DATABASE_ROOT_URL}/${PGDATABASE}?sslmode=disable
export GOOGLE_CLIENT_ID=FIXME
export GOOGLE_CLIENT_SECRET=FIXME
