{{define "main"}}
  <div class="flex">
    <div class="w-full">
      {{template "tasks/section" .Tasks}}
    </div>
    <div class="w-full">
      {{template "events/section" .Events}}
    </div>
  </div>
{{end}}
