<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.7/htmx.min.js" integrity="sha512-nMVjlN8C4mklXxqlpwXnalBjytjBxT2jj6yWl3aNEmT4hufNnr+dmVAN/bmdhbfjvxm0JzmMzsYDo7V34yRsIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-800 text-gray-200">
    <div class="px-3 border-b border-gray-500 bg-black">
      <h1 class="flex justify-between">
        <a href="/" class="text-xl">notnow.rcy.sh</a>
        <em class="xtext-2xl">principled procrastination made easy</em>
      </h1>
    </div>
    <div class="p-3">
      <main>
        {{block "main" .}}{{end}}
      </main>
    </div>
  </body>
</html>

