<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.7/htmx.min.js" integrity="sha512-nMVjlN8C4mklXxqlpwXnalBjytjBxT2jj6yWl3aNEmT4hufNnr+dmVAN/bmdhbfjvxm0JzmMzsYDo7V34yRsIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-800 text-gray-200">
    <div class="p-3">
      <h1 class="text-3xl">yikes</h1>
      <hr>
      <main>
        {{block "main" .}}{{end}}
      </main>
    </div>
  </body>
</html>

